@using Microsoft.AspNetCore.Identity
@using TechElite.Areas.Identity.Data
@using System.Linq
@using TechElite.Models

@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<TechElite.Models.UserViewModel>

<div class="user-actions">
    <form id="edit-user-form" style="display: none;" method="post" action="/Account/Edit">
        <input type="hidden" id="edit-user-id" name="Id" />
        <div>
            <label for="edit-user-username">Användarnamn</label>
            <input type="text" id="edit-user-username" name="UserName" />
        </div>
        <div>
            <label for="edit-user-roles">Roller</label>
            <div>
                <input type="radio" id="role-admin" name="Roles" value="Admin" />
                <label for="role-admin">Admin</label>
            </div>
            <div>
                <input type="radio" id="role-user" name="Roles" value="User" />
                <label for="role-user">User</label>
            </div>
        </div>
        <div>
            <label for="edit-user-email">E-post</label>
            <input type="email" id="edit-user-email" name="Email" />
        </div>
        <div>
            <label for="edit-user-firstname">Förnamn</label>
            <input type="text" id="edit-user-firstname" name="FirstName" />
        </div>
        <div>
            <label for="edit-user-lastname">Efternamn</label>
            <input type="text" id="edit-user-lastname" name="LastName" />
        </div>
        <button type="submit" id="save-edit">Spara</button>
        <button type="button" id="cancel-edit">Avbryt</button>
        <button type="button" id="delete-user">Radera</button>
    </form>
    <p id="edit-placeholder">Välj en användare att redigera.</p>
</div>