@using Microsoft.AspNetCore.Identity
@using TechElite.Areas.Identity.Data
@using System.Linq
@using TechElite.Models

@model IEnumerable<TechElite.Models.OrderViewModel>

<form id="edit-order-form" style="display: none;" method="post" action="/Order/Edit">
    <input type="hidden" id="edit-order-id" name="OrderId" />
    <div>
        <label for="edit-customer-id">KundID</label>
        <input type="text" id="edit-customer-id" name="CustomerId" readonly />
    </div>
    <div>
        <label for="edit-order-date">Orderdatum</label>
        <input type="text" id="edit-order-date" name="OrderDate" readonly />
    </div>
    <div>
        <label for="edit-total-price">Totalt belopp</label>
        <input type="text" id="edit-total-price" name="TotalPrice" readonly />
    </div>
    <div>
        <h3>Produkter</h3>
        <table id="edit-products-table">
            <thead>
                <tr>
                    <th>Produktnamn</th>
                    <th>Pris</th>
                    <th>Antal</th>
                    <th>Åtgärder</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <button type="submit" id="save-order-edit">Spara</button>
    <button type="button" id="cancel-order-edit">Avbryt</button>
    <button type="button" id="delete-order">Avbryt order</button>
</form>
<p id="edit-order-placeholder">Välj en order att redigera.</p>