@using Microsoft.AspNetCore.Identity
@using TechElite.Areas.Identity.Data
@using System.Linq
@using TechElite.Models

@inject UserManager<ApplicationUser> UserManager

@model TechElite.Models.AdminAccountViewModel

<form id="edit-user-form" style="display: none;" method="post" action="/Account/Edit">
    <input type="hidden" id="edit-user-id" name="Id" />
    <div>
        <label for="edit-user-username">Användarnamn</label>
        <input type="text" id="edit-user-username" name="UserName" />
    </div>
    <div>
        <label for="edit-user-firstname">Förnamn</label>
        <input type="text" id="edit-user-firstname" name="FirstName" />
    </div>
    <div>
        <label for="edit-user-lastname">Efternamn</label>
        <input type="text" id="edit-user-lastname" name="LastName" />
    </div>
    <div>
        <label for="edit-user-email">E-post</label>
        <input type="email" id="edit-user-email" name="Email" />
    </div>
    <div>
        <label for="edit-user-address">Adress</label>
        <input type="text" id="edit-user-address" name="Address" />
    </div>
    <div>
        <label for="edit-user-zipcode">Postnummer</label>
        <input type="text" id="edit-user-zipcode" name="ZipCode" />
    </div>
    <div>
        <label for="edit-user-city">Stad</label>
        <input type="text" id="edit-user-city" name="City" />
    </div>
    <div>
        <label for="edit-user-pword">Lösenord</label>
        <input type="password" id="edit-user-pword" name="Password" />
    </div>


    <button type="submit" id="save-edit">Spara</button>
    <button type="button" id="cancel-edit">Avbryt</button>
    <button type="button" id="delete-user-account">Ta bort konto</button>
</form>

