@using Microsoft.AspNetCore.Identity
@using TechElite.Areas.Identity.Data
@using TechElite.Models

@inject UserManager<ApplicationUser> UserManager

@model TechElite.Models.AdminAccountViewModel

@{
    ViewData["Title"] = "Account";
}

<head>
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
</head>


<main>
    <div id="account-root" data-is-admin="@User.IsInRole("Admin").ToString().ToLower()"></div>
    <div id="overlay-menu" class="overlay-menu">
        <ul>
            @if (User.IsInRole("Admin"))
            {
                <li><label for="tab1">Användare</label></li>
                <li><label for="tab2">Orderhistorik</label></li>
                <li><label for="tab3">Lagersaldo</label></li>
                <li><label for="tab4">Inkorga</label></li>
                <li><label for="tab5">Aviseringar</label></li>
                <li><label for="tab6">Inställningar</label></li>
                <li><label for="tab7">Övrigt</label></li>
            }
            else
            {
                <li><label for="tab1">Profil</label></li>
                <li><label for="tab2">Orderhistorik</label></li>
                <li><label for="tab3">Favoriter</label></li>
                <li><label for="tab4">Spårning</label></li>
                <li><label for="tab5">Trådar</label></li>
                <li><label for="tab6">Inlägg</label></li>
                <li><label for="tab7">Hjälp</label></li>
            }
        </ul>
    </div>
    <div class="account-container">
        <article>
            <div class="account-panel">
                <div class="tabs">
                    <input type="radio" id="tab1" name="tab" checked>
                    <label class="tab-label" for="tab1"></label>
                    <input type="radio" id="tab2" name="tab">
                    <label class="tab-label" for="tab2"></label>
                    <input type="radio" id="tab3" name="tab">
                    <label class="tab-label" for="tab3"></label>
                    <input type="radio" id="tab4" name="tab">
                    <label class="tab-label" for="tab4"></label>
                    <input type="radio" id="tab5" name="tab">
                    <label class="tab-label" for="tab5"></label>
                    <input type="radio" id="tab6" name="tab">
                    <label class="tab-label" for="tab6"></label>
                    <input type="radio" id="tab7" name="tab">
                    <label class="tab-label" for="tab7"></label>

                    <div class="marker">
                        <div id="top"></div>
                        <div id="bottom"></div>
                    </div>
                </div>
            </div>
            <div class="content">
                @if (User.IsInRole("Admin"))
                {
                    <partial name="_AdminAccountView" model="Model" />

                }
                else
                {
                    <partial name="_UserAccountView" model="Model" />
                }
            </div>
        </article>
    </div>
</main>