@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="filter">
        <h2>Nyheter</h2>
        <div class="filter-icons">
            <img src="img/Icons/category_blck.svg" alt="icon">
            <img src="img/Icons/filter_blck.svg" alt="icon">
        </div>
        <img src="img/Icons/cart_blck.svg" alt="cart">
    </div>
    <article>
        <section>
            <div class="products">
                <img src="img/Products/Charger/Charger2.svg" alt="">
            </div>
            <p>Text</p>
            <p><b>$0</b></p>
            <p>Body text</p>
        </section>
        <section>
            <div class="products">
                <img src="img/Products/Consoles/Console2.svg" alt="">
            </div>
            <p>Text</p>
            <p><b>$0</b></p>
            <p>Body text</p>
        </section>
        <section>
            <div class="products">
                <img src="img/Products/Earbuds/Buds2.svg" alt="">
            </div>
            <p>Text</p>
            <p><b>$0</b></p>
            <p>Body text</p>
        </section>
        <section>
            <div class="products">
                <img src="img/Products/Laptop/Laptop1.svg" alt="">
            </div>
            <p>Text</p>
            <p><b>$0</b></p>
            <p>Body text</p>
        </section>
        <section>
            <div class="products">
                <img src="img/Products/Headphones/Headphones1.svg" alt="">
            </div>
            <p>Text</p>
            <p><b>$0</b></p>
            <p>Body text</p>
        </section>
    </article>
    <article>
        <section>
            <div class="products">
                <img src="img/Products/Keyboard/Keyboard1.svg" alt="">
            </div>
            <p>Text</p>
            <p><b>$0</b></p>
            <p>Body text</p>
        </section>
        <section>
            <div class="products">
                <img src="img/Products/Consoles/Console1.svg" alt="">
            </div>
            <p>Text</p>
            <p><b>$0</b></p>
            <p>Body text</p>
        </section>
        <section>
            <div class="products">
                <img src="img/Products/Controllers/Controller3.svg" alt="">
            </div>
            <p>Text</p>
            <p><b>$0</b></p>
            <p>Body text</p>
        </section>
        <section>
            <div class="products">
                <img src="img/Products/Mouse/Mouse1.svg" alt="">
            </div>
            <p>Text</p>
            <p><b>$0</b></p>
            <p>Body text</p>
        </section>
        <section>
            <div class="products">
                <img src="img/Products/Components/GPU3.svg" alt="">
            </div>
            <p>Text</p>
            <p><b>$0</b></p>
            <p>Body text</p>
        </section>
    </article>
</main>