/*
Färger:
Mörkgrön #163832ff
Mörklila #301934ff
Ljusgrå #e3e3e3ff
Blå-lila #9747ffff
Rosa-lila #a948b3ff

*/

body {
    gap: 20px;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    border-radius: 5px;
    padding: 15px;
    gap: 15px;
    background-image: linear-gradient(to bottom right, #301934ff, #163832ff, #301934ff);
}

.account-container {
    padding: 15px;
}

.account-panel {
    width: 240px;
    height: 100%;
    min-height: 600px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    filter: drop-shadow(1px 4px 5px rgba(0, 0, 0, 0.171));
    display: flex;
    flex-direction: column;
}

.tab-label {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    color: #000;
    opacity: .4;
    transition: opacity .4s ease-in-out;
    display: block;
    width: calc(100% - 55px);
    text-align: left;
    z-index: 100;
    user-select: none;
    padding: 12px 0 12px 24px;
}

.tabs input[type="radio"] {
    display: none;
}

    .tabs label:hover, .tabs input[type="radio"]:checked + label {
        opacity: 1;
        font-weight: 700;
    }

    .tabs input[type="radio"]:checked + label {
        color: #efefef;
    }



.tabs {
    width: 100%;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.marker {
    position: absolute;
    width: 100%;
    height: 600%;
    display: flex;
    flex-direction: column;
    top: calc(-150%);
    left: 0;
    transition: transform .2s ease-in-out;
}

    .marker #bottom, .marker #top {
        background-image: linear-gradient(to bottom right, rgb(253, 244, 255), rgb(228, 255, 250));
        filter: drop-shadow(1px 4px 5px rgba(0, 0, 0, 0.171));
    }

    .marker #top {
        height: 100%;
        margin-bottom: 55px;
        border-radius: 0 0 32px 0;
    }

    .marker #bottom {
        height: calc(100%);
        border-radius: 0 32px 32px 0;
    }

#tab1:checked ~ .marker{
    transform: translateY(calc(-10 * 56px));}

#tab2:checked ~ .marker {
    transform: translateY(calc(-9 * 55px));}

#tab3:checked ~ .marker {
    transform: translateY(calc(-8 * 55px));
}

#tab4:checked ~ .marker {
    transform: translateY(calc(-7 * 55px));
}

#tab5:checked ~ .marker {
    transform: translateY(calc(-6 * 55px));
}

#tab6:checked ~ .marker {
    transform: translateY(calc(-5 * 55px));
}

#tab7:checked ~ .marker {
    transform: translateY(calc(-4 * 55px))
}


.content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.account-tab {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.welcome, .users {
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(253, 244, 255), rgb(228, 255, 250));
    padding: 10px;
    margin-bottom: 15px;
}

.user-actions {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    margin: auto;
    background-image: linear-gradient(to bottom right, rgb(253, 244, 255), rgb(228, 255, 250));
    border-radius: 5px;
    filter: drop-shadow(1px 4px 5px rgba(0, 0, 0, 0.171));
    width: 100%;
}

thead {
    width: 100%;
}

th, td {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.user-table {
    width: 100%;


}

.user-table tr {
    height: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;

}

.user-table td {
    display: flex;
    flex-direction: row; 
}