/* 
Färger:
Mörkgrön #163832ff
Mörklila #301934ff
Ljusgrå #e3e3e3ff
Blå-lila #9747ffff
Rosa-lila #a948b3ff

*/

.cart-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.cart-heading {
    text-align: center;
}

.cart, article {

    min-width: 400px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(253, 244, 255), rgb(228, 255, 250));

    border-radius: 5px;
    padding: 30px;
    filter: drop-shadow(1px 4px 5px rgba(0, 0, 0, 0.171));
}

.cart-message, 
.text-center {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    width: 100%;


}

table {
    text-align: left;
}

td {
    
}

.cart-items {
    color: #000;
    display: flex;
    flex-direction: column;

    min-width: 400px;
    max-width: 600px;
    width: 100%;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    
}

.checkout-form {
    display: flex;
    flex-direction: column;

}
    .checkout-form input {
        display: flex;
        flex-direction: column;
        width: 100%;

    }


    .card .checkout {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
.card .checkout div {
  background-color: #e8bc0e;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.card .checkout div:nth-child(2) {
  background-color: #1c1f25;
  color: #fff;
}
.active .card {
  left: calc(100% - 500px);
}

.list .item {
  text-align: center;
  background-color: #dce0e1;
  padding: 20px;
  box-shadow: 0 50px 50px #fff;
  letter-spacing: 1px;
}

.list .item img {
  width: 40%;
}

.list .item .title {
  font-weight: 600;
}
.list .item .price {
  margin: 10px;
}
.list .item button {
  background-color: #1c1f25;
  color: #fff;
  padding: 10px;
  width: 100%;
}
.listCard li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
  margin-bottom: 20px;
}
.listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listCard li img {
  width: 50%;
}

.listCard button {
  width: auto;
  background: #fff5;
  border: none;
}
.listCard .count {
  margin: 0 10px;
}
