/* 
Färger:
Mörkgrön #163832ff
Mörklila #301934ff
Ljusgrå #e3e3e3ff
Blå-lila #9747ffff
Rosa-lila #a948b3ff

*/



h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#registerForm, #account {
    padding: 20px;

}

#registerForm input,
#account input[type="email"],
#account input[type="password"] {
    width: 100%;
}
.checkbox {
    width: 50%;
}


#edit-user-form,
#edit-product-form,
#edit-order-form {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    padding: 20px;
    width: 30%;
}


    .loginregister input,
    #edit-user-form input,
    #edit-product-form input
    #edit-order-form input,
    .checkout-form input {
        border-radius: 5px;
        border-color: #e3e3e3ff;
        padding-left: 10px;
        padding-right: 10px;
        height: 30px;
    }



#edit-user-form input[type="text"],
#edit-user-form input[type="email"],
#edit-user-form input[type="password"],
#edit-product-form input[type="text"],
#edit-order-form input[type="text"]
{
    height: 30px;
}




.loginregister a,
.checkout-form a {
    color: #9747ffff;
    text-decoration: underline;
}

    .loginregister a:hover,
    .checkout-form a:hover {
        font-weight: bold;
    }

.confirm {
    color: black;
}

