p {
    margin: 10px;
}

.information-div {
    width: 900px;
}

.register-link {
    color: black;
    margin: 10px;
}

.register-link:hover {
    text-decoration: underline;
}

.text {
    padding-top: 0;
    padding-bottom: 300px;
}