.hero-container {
    min-height: 60vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    color: #e3e3e3ff;
    width: 100%;
}

h2 {
    font-size: 1.2em;
}

.filter {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

    .filter img {
        width: 20px;
    }

.header-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box {
    margin-top: 150px;
}

.links a:hover {
    text-decoration: underline;
}

.hero-image {
    background-image: url('img/Products/Laptop/Laptop2.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
}

    .hero-image h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .hero-image p {
        font-size: 1.5rem;
        margin-top: 0;
    }

.shop-now-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    margin-top: 40px;
}

    .shop-now-btn:hover {
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .shop-now-btn:active {
        transform: translateY(0);
    }

article {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 100%;
    justify-content: center;
}

.product-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%;
    align-items: start;
}

section {
    flex-direction: column;
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.100));
}

    section div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 150px;
        background-image: linear-gradient(to bottom right, rgb(253, 244, 255), rgb(228, 255, 250));
    }

.products img {
    max-height: 60%;
    max-width: 90%;
    filter: drop-shadow(1px 4px 5px rgba(0, 0, 0, 0.479));
}
