/* 
Färger:
Mörkgrön #163832ff
Mörklila #301934ff
Ljusgrå #e3e3e3ff
Blå-lila #9747ffff
Rosa-lila #a948b3ff

*/

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}


.login-container {
    display: flex;

}


.loginregister {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    background-image: linear-gradient(to bottom right, rgb(253, 244, 255), rgb(228, 255, 250));
    border-radius: 5px;
    filter: drop-shadow(1px 4px 5px rgba(0, 0, 0, 0.171));
    height: 100%;
    gap: 10px;
}


.loginwelcome {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-width: 250px;
    height: 100%;
}

.confirmation, .reset, .logout, .forgotpwd {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 250px;
    height: 100%;
}


.welcome {
    background-image: linear-gradient(to bottom right, rgb(253, 244, 255), rgb(228, 255, 250));
    padding: 10px 15px;
    border-radius: 5px;
    filter: drop-shadow(1px 4px 5px rgba(0, 0, 0, 0.171));
}

.welcome p:not(:last-child) {
    margin-bottom: 10px;
}
