@using Microsoft.AspNetCore.Identity
@using TechElite.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechElite</title>
    <script type="importmap"></script>
    @*  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=shopping_cart" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <header>
        <div class="menu">
            <a asp-controller="Home" asp-action="Index">
                <img class="logo" src="~/img/Logos/TechElite.grey.svg" alt="Logotyp">
            </a>
            <nav>
                <a asp-controller="Home" asp-action="Index">Start</a>
                <a asp-controller="Shop" asp-action="Index">Shop</a>
                <a asp-controller="Forum" asp-action="Index">Forum</a>
                <a asp-controller="About" asp-action="Index">Om oss</a>
            </nav>
            <div class="icons">
                <a href="#"><img class="icon "src="~/img/Icons/cart.svg" alt="Varukorg"></a>
                <partial name="_LoginPartial" />
                <div class="search">
                    <span class="search-icon material-symbols-outlined" onclick="toggleSearch()">search</span>
                    <form asp-controller="Search" asp-action="Search" method="get">
                        <input class="search-input" type="search" name="search" placeholder="Search" />
                    </form>
                </div>

            </div>

           
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-content">
            <div class="categories">
                <h3>Kategorier</h3>
                <a class="footer-cat" asp-controller="Shop" asp-action="Nyheter">Nyheter</a>
                <a class="footer-cat" asp-controller="Shop" asp-action="Datorer">Datorer</a>
                <a class="footer-cat" asp-controller="Shop" asp-action="Tillbehor">Tillbehör</a>
                <a class="footer-cat" asp-controller="Shop" asp-action="Bildskarmar">Bildskärmar</a>
                <a class="footer-cat" asp-controller="Shop" asp-action="KonsolerTillbehor">Konsoler & tillbehör</a>
                <a class="footer-cat" asp-controller="Shop" asp-action="TelefonerTablets">Telefoner & tablets</a>
                <a class="footer-cat" asp-controller="Shop" asp-action="Datorkomponenter">Datorkomponenter</a>
                <a class="footer-cat" asp-controller="Shop" asp-action="Ljud">Ljud</a>
            </div>
            <div class="forum-links">
                <h3>Forum</h3>
                <a class="footer-cat" asp-controller="Forum" asp-action="Register">Registrera dig</a>
                <a class="footer-cat" asp-controller="Forum" asp-action="Login">Logga in</a>
                <a class="footer-cat" asp-controller="Forum" asp-action="Nyheter">Nyheter</a>
                <a class="footer-cat" asp-controller="Forum" asp-action="Account">Konto</a>
                <a class="footer-cat" asp-controller="Forum" asp-action="Terms">Användarvillkor</a>
                <a class="footer-cat" asp-controller="Forum" asp-action="AccountManagement">Kontohantering</a>
            </div>
            <div class="About">
                <h3>Om oss</h3>
                <a class="footer-cat" asp-controller="About" asp-action="Historia">Vår historia</a>
                <a class="footer-cat" asp-controller="About" asp-action="Medarbetare">Våra medarbetare</a>
                <a class="footer-cat" asp-controller="About" asp-action="Kontakt">Kontaktinformation</a>
                <a class="footer-cat" asp-controller="About" asp-action="JobbaHosOss">Jobba hos oss</a>
                <a class="footer-cat" asp-controller="About" asp-action="Press">Press</a>
                <a class="footer-cat" asp-controller="About" asp-action="VanligaFragor">Vanliga frågor</a>
            </div>
            <div class="Handla">
                <h3>Handla hos oss</h3>
                <a class="footer-cat" asp-controller="Shop" asp-action="SalesConditions">Försäljningsvillkor</a>
                <a class="footer-cat" asp-controller="Shop" asp-action="ShippingDelivery">Frakt & leverans</a>
                <a class="footer-cat" asp-controller="Shop" asp-action="ReturnPolicy">Ångerrätt</a>
                <a class="footer-cat" asp-controller="Shop" asp-action="Warranty">Garanti</a>
                <a class="footer-cat" asp-controller="Shop" asp-action="Complaint">Reklamation</a>
                <a class="footer-cat" asp-controller="Shop" asp-action="PrivacyPolicy">Sekretess & integritet</a>
            </div>
            <div class="shortcuts">
                <h3>Nyhetsbrev</h3>
                <div class="subscribe">
                    <input type="text" id="subscribe" name="subscribe" value="you@exampel.com">
                    <input class="btn" type="submit" id="submit" value="Submit">
                </div>
                <div class="footer-buttons">
                    <a class="btn btn-primary" asp-controller="Profile" asp-action="Login">Sign In</a>
                    <a class="btn btn-primary" asp-controller="Profile" asp-action="Register">Register</a>
                </div>

                <div class="socials">
                    <div class="social-media">
                        <a href="https://www.facebook.com/yourprofile" class="fa fa-facebook" style="font-size: 20px;"></a>
                        <a href="https://www.linkedin.com/in/yourprofile" class="fa fa-linkedin" style="font-size: 20px;"></a>
                        <a href="https://www.instagram.com/yourprofile" class="fa fa-instagram" style="font-size: 20px;"></a>
                        <a href="mailto:your.email@example.com" class="fa fa-envelope" style="font-size: 20px;"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/controlTabs.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/search.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
