@using Microsoft.AspNetCore.Identity
@using TechElite.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <span>Hello @UserManager.GetUserName(User)!</span>
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post">
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    }

</ul>
