@using Microsoft.AspNetCore.Identity
@using TechElite.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-controller="Account" asp-action="Index">
            <img class="icon" src="~/img/Icons/account.svg" alt="Visa profil">
            <span>@UserManager.GetUserName(User)</span>
        </a>

        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-inline">
            <button type="submit" class="logout-btn">
                <img class="icon" src="~/img/Icons/logout.svg" alt="logga ut">
            </button>
        </form>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Register"><img class="icon" src="~/img/Icons/signup.svg" alt="registrera"></a>
        <a asp-area="Identity" asp-page="/Account/Login"><img class="icon" src="~/img/Icons/login.svg" alt="login"></a>
        
    }

