@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Glömt ditt lösenord?";
}

<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />


<main>
    <div class="login-container">
        <article>
            <div class="forgotpwd">
                <h1>@ViewData["Title"]</h1>
                <h2>Skriv in din mailadress för att återställa ditt lösenord.</h2>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form class="loginregister" method="post">
                            <div>
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" />
                                <span asp-validation-for="Input.Email"></span>
                            </div>
                            <button type="submit">Återställ lösenord</button>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
