@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />


<main>
    <div class="login-container">
        <article>
            <div class="forgotpwd">
                <h1>@ViewData["Title"]</h1>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </article>
    </div>
</main>
