@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<main>
    <div class="login-container">
        <article>
            <div class="forgotpwd">
                <h1>@ViewData["Title"]</h1>
                <form class="loginregister" method="post">
                    <div>
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" />
                        <span asp-validation-for="Input.Email"></span>
                    </div>
                    <div>
                        <label asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" />
                        <span asp-validation-for="Input.NewPassword"></span>
                    </div>
                    <div>
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" />
                        <span asp-validation-for="Input.ConfirmPassword"></span>
                    </div>
                    <button type="submit">Reset Password</button>
                </form>
            </div>
        </article>
    </div>
</main>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}