@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<main>
    <div class="login-container">
        <article>
            <div class="logout">
                <h1>@ViewData["Title"]</h1>
                @{
                    if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="nav-link btn btn-link text-dark">Klicka här för att logga ut</button>
                        </form>
                    }
                    else
                    {
                        <p>Utloggning lyckades.</p>
                    }
                }
            </div>
        </article>
    </div>
</main>




