@page
@model TechElite.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<main>
    <div class="login-container">
        <article>
            <div class="confirmation">
                <h1>@ViewData["Title"]</h1>

                @if (Model.DisplayConfirmAccountLink)
                {
                    <p>
                        Thank you for registering! Please confirm your account by clicking the link below:
                    </p>
                    <p>
                        <a class="confirm" id="confirm-link" href="@Model.EmailConfirmationUrl">Confirm your account</a>
                    </p>
                }
                else
                {
                    <p>
                        Please check your email to confirm your account.
                    </p>
                }
            </div>
        </article>
    </div>
</main>

