@model ForumViewModel
@{
	ViewData["Title"] = "Latest threads";
}
<h1>Senaste trådarna</h1>

<section>
    <h4>Senaste</h4>
    <div>
        @foreach (var forumThread in Model.ForumThreads)
        {
            if (forumThread is null)
            {
                <a class="new-thread" asp-controller="Forum" asp-action="Thread">Bästa köpet jag gjort!</a>
            }
            else
            {
                <a class="new-thread" asp-controller="Forum" asp-action="Thread">@forumThread.ThreadTitle</a>
            }
        }
    </div>
</section>