@model TechElite.Models.AdminAccountViewModel
@{
	ViewData["Title"] = "Orderbekräftelse";
}

<link rel="stylesheet" href="~/css/account.css" />

<div class="cart-container">
    <article>
        <div class="text-center">
            <h2>Tack för ditt köp!</h2>
            <p>Din beställning har mottagits. Du kommer att få en bekräftelse via e-post.</p>
            <a href="/Shop" class="btn btn-primary mt-3">Tillbaka till butiken</a>
        </div>
        <div class="orders">
            <a asp-controller="Account" asp-action="Index" class="btn" >Till mina sidor</a>
        </div>
    </article>
</div>