<head>
    <link rel="stylesheet" href="~/css/shop.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
</head>

    <main>
        <div class="shop-container">
            <article class="Feature">
                <article>
                </article>
                <img max height="400px" src="img/Shop/GAMING.jpg" alt="shop.img">
            </article>

            </section>
            <div class="filter">
                <div class="filter-icons">
                    <div class="dropdown">
                        <button><img src="img/Icons/filter_blck.svg" alt="icon"></button>
                        <div class="dropdown-content">
                        @foreach (var d in Model.Departments)
                        {
                            <a asp-controller="Shop" asp-action="FilterDepartments" asp-route-id="@d.DepartmentId">@d.DepartmentName</a>
                        }
                        </div>
                    </div>
                </div>
                <button class="cartlänk"><a href="cart.html"><img src="img/Icons/cart_blck.svg" alt="cart"></a></button>
            </div>
            <article>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Controllers/Controller3.svg" alt="">
                            </div>
                            <p>Xbox Kontroll</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Controllers/Controller1.svg" alt="">
                            </div>
                            <p>Custom ps5 Kontroll</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Controllers/Controller2.svg" alt="">
                            </div>
                            <p>Standard PS Kontroll</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Consoles/Console1.svg" alt="">
                            </div>
                            <p>PS5</p>
                            <p><b>$19990</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Consoles/Console3.svg" alt="">
                            </div>
                            <p>Nintendo</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
            </article>
            <article>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Consoles/Console2.svg" alt="">
                            </div>
                            <p>Playstation 1</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>

            </article>
            </div>
        </main>