<head>
    <link rel="stylesheet" href="~/css/shop.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
</head>


     <main>
        <div class="shop-container">
            <article class="Feature">
                <article>
                </article>
                <img max height="400px" src="img/Shop/HÖRLURAROCHHIFI.jpg" alt="shop.img">
            </article>

            </section>
            <div class="filter">
                <div class="filter-icons">
                    <div class="dropdown">
                        <button><img src="img/Icons/filter_blck.svg" alt="icon"></button>
                        <div class="dropdown-content">
                        <a asp-controller="Shop" asp-action="Datorer">Datorer & Skärmar</a>
                        <a asp-controller="Shop" asp-action="Telefoner">Telefoner & tablets</a>
                        <a asp-controller="Shop" asp-action="Hörlurar">Hörlurar & Hifi</a>
                        <a asp-controller="Shop" asp-action="Tillbehör">Tillbehör & komponenter</a>
                        <a asp-controller="Shop" asp-action="Gaming">Gaming</a>
                        <a asp-controller="Shop" asp-action="Index">Main Shop</a>
                        </div>
                    </div>
                </div>
                <button class="cartlänk"><a href="cart.html"><img src="img/Icons/cart_blck.svg" alt="cart"></a></button>
            </div>
            <article>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Earbuds/Buds2.svg" alt="">
                            </div>
                            <p>Temu Earbuds</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Earbuds/Buds1.svg" alt="">
                            </div>
                            <p>Professor Earbuds</p>
                            <p><b>$19.99</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Earbuds/Buds3.svg" alt="">
                            </div>
                            <p>Airpods pro</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Earbuds/Buds4.svg" alt="">
                            </div>
                            <p>Trådade Ipods Pro</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Headphones/Headphones1.svg" alt="">
                            </div>
                            <p>WIN-Win Headpones</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
            </article>
            <article>
                <section>
                    <a hreladdarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Headphones/Headphones2.svg" alt="">
                            </div>
                            <p>Funky Headpones</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>

            </article>
            </div>
        </main>