<body>
    <main>
        <article class="produkten">
            <section>
                <img src="~/img/Products/Charger/Charger2.svg" alt="shop.img">

            </section>
            <section class="Produktinfo">
                <h2><B>LADDARE X2000</B></h2><br>
                <p><b>$19.90</b></p><br>
                <p>
                    Upplev kraften i den senaste tekniken! 🚀 Designad för att leverera hög prestanda,
                    smart funktionalitet och stilren estetik.
                    Med avancerad teknik och kvalitativa material säkerställer
                    denna produkt en smidig och pålitlig upplevelse,
                    oavsett om det gäller arbete, underhållning eller vardagsbehov.
                    Innovativa funktioner och modern design gör den till ett
                    självklart val för den som vill ta sin tech-vardag till nästa nivå.
                    Uppgradera och upptäck skillnaden idag!😁
                </p>
            </section>
        </article>
        <div class="filter">
            <div class="filter-icons">
                <div class="dropdown">
                    <button><img src="~/img/Icons/filter_blck.svg" alt="icon"></button>
                    <div class="dropdown-content">
                        <a href="datorer.html">Datorer & Skärmar</a>
                        <a href="telefoner.html">Telefoner & tablets</a>
                        <a href="hörlurar.html">Hörlurar & Hifi</a>
                        <a href="tillbehör.html">Tillbehör & komponenter</a>
                        <a href="gaming.html">Gaming</a>
                    </div>
                </div>
            </div>
            <button class="cartlänk"><a href="cart.html"><img src="~/img/Icons/cart_blck.svg" alt="cart"></a></button>
        </div>
        <article class="recensioner">
            <section class="recensioner section">
                <P>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fugit consectetur hic porro. Delectus,
                    perferendis quod reiciendis voluptates
                    ratione optio qui deserunt eos cupiditate tempora voluptatibus,
                    ad rem fuga quia suscipit!
                </P><br>
                <P>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fugit consectetur hic porro. Delectus,
                    perferendis quod reiciendis voluptates
                    ratione optio qui deserunt eos cupiditate tempora voluptatibus,
                    ad rem fuga quia suscipit!
                </P>

            </section>
        </article>
    </main>
</body>
