@{
    ViewData["Title"] = "Shop";
}
<body>
    <main>
        <article class="Feature">
            <article>
            </article>
            <img max height="500px" src="img/Shop/tech.shop.jpg" alt="shop.img">
        </article>

        <div class="filter">
            <div class="filter-icons">
                <div class="dropdown">
                    <button><img src="img/Icons/filter_blck.svg" alt="icon"></button>
                    <div class="dropdown-content">
                        <a href="datorer.html">Datorer & Skärmar</a>
                        <a href="telefoner.html">Telefoner & tablets</a>
                        <a href="hörlurar.html">Hörlurar & Hifi</a>
                        <a href="tillbehör.html">Tillbehör & komponenter</a>
                        <a href="gaming.html">Gaming</a>
                    </div>
                </div>
            </div>
            <button class="cartlänk"><a href="cart.html"><img src="img/Icons/cart_blck.svg" alt="cart"></a></button>
        </div>
        <article>
            <section>
                <a href="laddarex2000.html">
                    <button>
                        <div class="products">
                            <img src="img/Products/Charger/Charger2.svg" alt="">
                        </div>
                        <p>LADDARE X2000</p>
                        <p><b>$19.90</b></p>
                        <p>En produkt för alla</p>
                    </button>
                </a>
            </section>
            <section>
                <a href="laddarex2000.html">
                    <button>
                        <div class="products">
                            <img src="img/Products/Consoles/Console2.svg" alt="">
                        </div>
                        <p>Playstation 1</p>
                        <p><b>$19.90</b></p>
                        <p>En produkt för alla</p>
                    </button>
                </a>
            </section>
            <section>
                <a href="laddarex2000.html">
                    <button>
                        <div class="products">
                            <img src="img/Products/Earbuds/Buds2.svg" alt="">
                        </div>
                        <p>Temu Earbuds</p>
                        <p><b>$19.90</b></p>
                        <p>En produkt för alla</p>
                    </button>
                </a>
            </section>
            <section>
                <a href="laddarex2000.html">
                    <button>
                        <div class="products">
                            <img src="img/Products/Drawing tablet/dr-tablet1.svg" alt="">
                        </div>
                        <p>Rit Bräda</p>
                        <p><b>$19.90</b></p>
                        <p>En produkt för alla</p>
                    </button>
                </a>
            </section>
            <section>
                <a href="laddarex2000.html">
                    <button>
                        <div class="products">
                            <img src="img/Products/Laptop/Laptop1.svg" alt="">
                        </div>
                        <p>Mac Attack</p>
                        <p><b>$1990</b></p>
                        <p>En produkt för alla</p>
                    </button>
                </a>
            </section>
        </article>
        <article>
            <section>
                <a href="laddarex2000.html">
                    <button>
                        <div class="products">
                            <img src="img/Products/Mouse/Mouse2.svg" alt="">
                        </div>
                        <p>Ergonomisk mus</p>
                        <p><b>$19.90</b></p>
                        <p>En produkt för alla</p>
                    </button>
                </a>
            </section>
            <section>
                <a href="laddarex2000.html">
                    <button>
                        <div class="products">
                            <img src="img/Products/Monitor/Monitor4.svg" alt="">
                        </div>
                        <p>Elite Monitor</p>
                        <p><b>$19.90</b></p>
                        <p>En produkt för alla</p>
                    </button>
                </a>
            </section>
            <section>
                <a href="laddarex2000.html">
                    <button>
                        <div class="products">
                            <img src="img/Products/Components/Ext-hdd1.svg" alt="">
                        </div>
                        <p>Samsung Hårddisk</p>
                        <p><b>$19.90</b></p>
                        <p>En produkt för alla</p>
                    </button>
                </a>
            </section>
            <section>
                <a href="laddarex2000.html">
                    <button>
                        <div class="products">
                            <img src="img/Products/Keyboard/Keyboard3.svg" alt="">
                        </div>
                        <p>Funky Keyboard</p>
                        <p><b>$19.90</b></p>
                        <p>En produkt för alla</p>
                    </button>
                </a>
            </section>
            <section>
                <a href="laddarex2000.html">
                    <button>
                        <div class="products">
                            <img src="img/Products/Controllers/Controller3.svg" alt="">
                        </div>
                        <p>Xbox Kontroll</p>
                        <p><b>$19.90</b></p>
                        <p>En produkt för alla</p>
                    </button>
                </a>
            </section>
        </article>
    </main>
</body>
