<head>
    <link rel="stylesheet" href="~/css/shop.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
</head>

    <main>
        <div class="shop-container">
            <article class="Feature">
                <article>
                </article>
                <img max height="400px" src="img/Shop/TILLBEHÖROCHKOMPONENTER.jpg" alt="shop.img">
            </article>

            </section>
            <div class="filter">
                <div class="filter-icons">
                    <div class="dropdown">
                        <button><img src="img/Icons/filter_blck.svg" alt="icon"></button>
                        <div class="dropdown-content">
                        @foreach (var d in Model.Departments)
                        {
                            <a asp-controller="Shop" asp-action="FilterDepartments" asp-route-id="@d.DepartmentId">@d.DepartmentName</a>
                        }
                        </div>
                    </div>
                </div>
                <button class="cartlänk"><a href="cart.html"><img src="img/Icons/cart_blck.svg" alt="cart"></a></button>
            </div>
            <article>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Charger/Charger2.svg" alt="">
                            </div>
                            <p>LADDARE X2000</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Charger/Charger1.svg" alt="">
                            </div>
                            <p>Smart Charger</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Charger/Plug1.svg" alt="">
                            </div>
                            <p>Supercharger adapter</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Charger/Plug2.svg" alt="">
                            </div>
                            <p>iphone adapter</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Components/Fan1.svg" alt="">
                            </div>
                            <p>Superb Fläkt</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
            </article>
            <article>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Components/Ext-hdd1.svg" alt="">
                            </div>
                            <p>Samsung Hårddisk</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Components/GPU1.svg" alt="">
                            </div>
                            <p>GPU TIER 1</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Components/GPU2.svg" alt="">
                            </div>
                            <p>GPU TIER 2</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="P1 laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Components/GPU3.svg" alt="">
                            </div>
                            <p>GPU TIER 3</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Components/GPU4.svg" alt="">
                            </div>
                            <p>GPU TIER 4</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
            </article>
            <article>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Keyboard/Keyboard1.svg" alt="">
                            </div>
                            <p>Corsair keyboard</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Keyboard/Keyboard3.svg" alt="">
                            </div>
                            <p>Funky Keyboard</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Keyboard/Keyboard2.svg" alt="">
                            </div>
                            <p>Overwatch Keyboard</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Mousepad/Pad1.svg" alt="">
                            </div>
                            <p>Mousepad</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
                <section>
                    <a href="laddarex2000.html">
                        <button>
                            <div class="products">
                                <img src="img/Products/Mouse/Mouse2.svg" alt="">
                            </div>
                            <p>Ergonomisk mus</p>
                            <p><b>$19.90</b></p>
                            <p>En produkt för alla</p>
                        </button>
                    </a>
                </section>
            </article>
            </div>
        </main>