@{
    ViewData["Title"] = "Profile";
}

<head>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
</head>

<main>
    <div class="profile-container">
        <article>
            <div class="profile-panel">
                <div class="tabs">
                    <input type="radio" id="tab1" name="tab" checked="true">
                    <label for="tab1">Mina sidor</label>
                    <input type="radio" id="tab2" name="tab">
                    <label for="tab2">Mitt konto</label>
                    <input type="radio" id="tab3" name="tab">
                    <label for="tab3">Aktivitet</label>
                    <input type="radio" id="tab4" name="tab">
                    <label for="tab4">Inställningar</label>
                    <input type="radio" id="tab5" name="tab">
                    <label for="tab5">Orderhistorik</label>
                    <input type="radio" id="tab6" name="tab">
                    <label for="tab6">Recensioner</label>
                    <input type="radio" id="tab7" name="tab">
                    <label for="tab7">Hjälp</label>
                    <div class="marker">
                        <div id="top"></div>
                        <div id="bottom"></div>
                    </div>
                </div>


            </div>
            <div class="content">
                <div class="first prof-tab">
                    <div class="welcome">
                        <h1>Välkommen [Användarnamn]!</h1>
                    </div>
                    <div class="favorites">
                        <h2>Favoriter</h2>
                    </div>
                </div>
                <div class="second prof-tab">
                    <div class="">
                    </div>
                </div>
                <div class="third prof-tab">
                    <div class="">
                    </div>
                </div>
                <div class="fourth prof-tab">
                    <div class="">
                    </div>
                </div>
                <div class="fifth prof-tab">
                    <div class="">
                    </div>
                </div>
                <div class="sixth prof-tab">
                    <div class="">
                    </div>
                </div>
                <div class="seventh prof-tab">
                    <div class="">
                    </div>
                </div>
            </div>
        </article>
    </div>
    
</main>