
@{
    ViewData["Title"] = "About";
}
<head>
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
</head>
<main>
    <div class="about-container">
        <h1>Om oss</h1>
    </div>
</main>

