@{
    ViewData["Title"] = "Thank You";
}

<h2>Tack för ditt meddelande!</h2>
<p>Vi har mottagit ditt meddelande och kommer att återkomma så snart som möjligt.</p>

<a asp-controller="Home" asp-action="Index">Tillbaka till startsidan</a>